<% @title = @user.username %>

<!-- User profile, including comments, cheers left -->
<section id="comments" class="comments">
    <h1><%= @user.username %> Profile</h1>
    <div>
        <%= render 'shared/errors' %>
        <%= render 'comments/form', comment_type: 'User', item_id: @user.id %>
    </div>

    <div>
        <h2>Comments</h2>
        <% if @comments.empty? %>
            <p>Nothing to see here!</p>
        <% else %>
            <%= render 'comments/show', comments: @comments %>
        <% end %>
    </div>
</section>

<!--  User's goals, link to each, whether completed. Only display public or all if current_user -->
<section id="goals" class="goals">
    <h1>Goals</h1>
    <% if @goals.empty? %>
        <p>This user hasn't set any goals yet.</p>
    <% else %>
        <%= render 'goals/list', goals: @goals %>
    <% end %>
</section>